table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #008acf; }
  
table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
  background-color: #dbeeff; }